<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<div class="container text-center" style="margin-top: 150px;">
<h1>This password generator was made by <a href="" target="_blank">Idowu Odesanmi</a><br>
    Copyright &copy; 2022
</h1>
<br>
<h2>
    <a href="https://github.com/joshasgard/Password-Generator.git" target="_blank" class="btn btn-dark">
        <b>Source Code</b>        
        </a>
    <a href="{% url 'home' %}" class="btn btn-secondary">
        <b>Home</b>        
    </a>
</h2>
</div>